

<html>
<head>
    @{
        var totalMessage = "";
        var flag = false;
        var n = 10000;
        float[] val = new float[n + 1];
        float[] arg = new float[n + 1];
        arg[0] = 0;
        var num1 = "";
        var num2 = "";
        var r2 = "";
        var x0 = "";
        if (IsPost)
        {
            totalMessage = "Wait...";
            x0 = Request["x0"];
            num1 = Request["text1"];
            num2 = Request["text2"];
            r2 = Request["x1"];
            float step = (r2.AsFloat() - x0.AsFloat()) / n;
            val[0] = x0.AsFloat();
            for (int i = 0; i < n; ++i)
            {
                arg[i + 1] = arg[i] + step;
                val[i + 1] = val[i] + (num1.AsFloat() * step * i + num2.AsFloat() * val[i]) * step;
            }
            totalMessage = "Successfully! Drawing a graph";
            //flag = true;
        }

    }
    
</head>
<body>
    <form action="" method="post">
        <p>
            <label for="text1">k1:</label><br>
            <input type="text" name="text1">
        </p>
        <p>
            <label for="text2">k2:</label><br>
            <input type="text" name="text2">
        </p>
        <p>
            <label for="text2">x(0):</label><br>
            <input type="text" name="x0">
        </p>
        <p>
            <label for="text2">b:</label><br>
            <input type="text" name="x1">
        </p>
        <p><input type="submit" value="Compute"></p>
        <p>@totalMessage</p>
        <script type="text/javascript"
                src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

        <script type="text/javascript">
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            if ('@totalMessage' == "Successfully! Drawing a graph") {
                var N = '@n';
                var x0 = '@x0';
                var x1 = '@r2';
                var Args = [];
                var Vals = [];
                var i;
                @for (int i = 0; i<@n; ++i)
                {
                    @:Args.push('@arg[i]');
                    @:Vals.push('@val[i]');
                }
                var tab = [];
                tab.push(['X', 'Y']);
                N = Args.length;
                for (i = 0; i < N; ++i)
                    tab.push([parseFloat(Args[i]), parseFloat(Vals[i])]);
                alert(Args[N - 10] + " " + Vals[N - 10]);
                var data = google.visualization.arrayToDataTable(tab);

                var options = {
                    title: 'Solution',
                    curveType: 'function',
                    legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                '@totalMessage' = "Completed!";
                chart.draw(data, options);
            }
        }
        </script>
        <div id="curve_chart" style="width: 900px; height: 500px"></div>
    </form>
    
</body>
</html>