

<html>
<head>
    @{
        var totalMessage = "";
        var n = 100000;
        var num1, num2, r2, x0;
        if (IsPost)
        {
            x0 = Request["x0"];
            num1 = Request["text1"];
            num2 = Request["text2"];
            r2 = Request["x1"];
            
            int step = (r2.AsInt() - x0.AsInt()) / n;
            int[] val = new int[n + 1];
            val[0] = x0.AsInt();
            for (int i = 0; i < n; ++i)
            {
                val[i + 1] = val[i] + (num1.AsInt() * step * i + num2.AsInt() * val[i]) * step;
            }
            totalMessage = "Successfully";
        }

    }
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var N = '@n'
            var data = google.visualization.arrayToDataTable([
              ['Year', 'Sales', 'Expenses'],
              [N, 1000, 400],
              ['2005', 1170, 460],
              ['2006', 660, 1120],
              [N, 1030, 540]
            ]);

            var options = {
                title: 'Company Performance',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <form action="" method="post">
        <p>
            <label for="text1">k1:</label><br>
            <input type="text" name="text1">
        </p>
        <p>
            <label for="text2">k2:</label><br>
            <input type="text" name="text2">
        </p>
        <p>
            <label for="text2">x(0):</label><br>
            <input type="text" name="x0">
        </p>
        <p>
            <label for="text2">b:</label><br>
            <input type="text" name="x1">
        </p>
        <p><input type="submit" value="Compute"></p>
        <p>@totalMessage</p>
    </form>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>
</html>